{% extends 'master.html'%}
{% load static %}
{% block content %}
<div class="container-info">
    <div class="row">
        
        <div class="col-md-3"></div>
        <div class="col-md-6  box1">
            <h2 class="text-center text-capitalize">Log in</h2>
            <form action="" method="post">
           
                {% csrf_token %}
                <div class="form-row mt-4 ">
                  
              <h2>{{msg}}</h2>
                <div class="form-group col-md-12 ">
                    <div class="row">
                    <div class="col-md-2">
                  <label for="inputEmail4">user_name*:</label>
                    </div>
                    <div class="col-md-8">
                        <span id="email_span1"></span>
                  <input type="text" class="form-control" id="user_email" name="username">
                    </div>
                    </div>
                </div>
                
                <div class="form-group col-md-12 ">
                    <div class="row">
                    <div class="col-md-2">
                  <label for="inputEmail4">password*:</label>
                    </div>
                    <div class="col-md-8">
                        <span id="login_pass"></span>
                  <input type="password" class="form-control" id="user_password" name="password">
                    </div>
                    </div>
                </div>
              

                
                 
                  
             
              
                
               <div class="col-md-5"></div>
             <div class="col-md-4 mt-2 p-4">
            <button type="submit" id="mybtn" class="btn btn-primary btn-lg" >Submit</button>
               
             </div>
              </form>
        </div>
    </div>
    </div>
    {% endblock %}